div.container{
    margin: auto;
    width: 80%;
}

header {
    /*margin: auto;
    width: 80%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 1px solid #7e8281;
}

h1 {
    margin: 0;
}

button {
    color: white;
    margin: 3px;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #cfd1d0;
}

#delete-product-btn{
    background-color: red;
}

.list{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}