.product-container{
	width: 190px;
	height: 190px;
	border: 1px solid #7e8281;
	margin: 20px;
}

.product-info{
	margin: auto;
	width: 100%;
	height: 1005;
	text-align: center;
	line-height: 0.5;
}

.delete-checkbox{
	margin: 10px;
	padding: 0;
}